/**************************
Miguel González Navarro - UO282337
Hoja de estilo que se aplicará sobre el html del formulario, la modificación de propiedades del botón y la sección del formulario
***************************/

/*Specificity: 0 0 1*/
form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Specificity: 0 0 2*/
form > fieldset {
    width: 95%;
    max-width: 50rem;
    margin-top: 1rem;
}

/*Specificity: 0 0 3 | 0 0 3*/
form > fieldset > legend,
form > fieldset > p {
    margin-left: 1rem;
}

/*Specificity: 0 0 2*/
form > p {
    width: 95%;
    max-width: 50rem;
    margin-top: 1rem;
}

/*Specificity: 0 0 3*/
form > p > input {
    width: 100%;
}

/*Specificity: 0 1 2*/
form > input[type=submit]{
    margin-top: 1rem;
    padding: .75rem;
    background-color: #03434e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
