/**************************
Miguel González Navarro - UO282337
Hoja de estilo que se aplicará sobre CalculadoraCientifica.html
Contiene las propiedades de colores de los elementos y botones, además del layout (grid) que envuelve a la calculadora
*************************/

/*Selector Specificity: 0 0 1*/
body {
    height: 90vh;
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    background-color: rgb(255, 254, 254);
    color:black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Selector Specificity: 0 0 1*/
form{
    width: 400px;
    display: grid;
    margin: auto;
    border-radius: 3%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #C9C9C9;
    color: black;
    grid-auto-rows: minmax(40px,auto);
    padding: 20px;
}

@media screen and (max-width: 768px) {
    /*Selector Specificity: 0 0 1*/
    form {
        max-width: 90%;
        gap: 10px;
    }
}

/*Selector Specificity: 0 2 1*/
input[type=button][ value = "F-E"]{
    grid-column: 3/6;
    width: 25%;
}

/*Selector Specificity: 0 0 1*/
h1 {
    text-align: center;
    color:black;
    background-color: white;
    font-size: 150%;
    margin-bottom: 3%;
}

/*Selector Specificity: 0 0 1*/
form > label {
    font-size: 200%;
    color: #000000;
    background-color: #C9C9C9;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 6;
}

/*Selector Specificity: 0 1 1*/
input[type=text] {
    padding-top: 1rem;
    grid-column: span 4;
    color: black;
    background-color: rgb(119, 163, 160);
    font-family: Tahoma, sans-serif;
    width: 90%;
    text-align: right;
    margin: auto;
    font-size: 180%;
    grid-column-start: 1;
    grid-column-end: 6;
}

/*Selector Specificity: 0 1 1*/
input[type=button]  {
    color:black;
    background-color: rgb(255, 255, 255);
    font-family: Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
}

/*Selector Specificity: 0 2 2*/
form > input[type="button"]:hover {
    background-color: #C9C9C9;
    color: black;
}


/*Selector Specificity: 0 2 1*/
input[type=button][ value = "0"],
input[type=button][ value = "1"],
input[type=button][ value = "2"],
input[type=button][ value = "3"],
input[type=button][ value = "4"],
input[type=button][ value = "5"],
input[type=button][ value = "6"],
input[type=button][ value = "7"],
input[type=button][ value = "8"],
input[type=button][ value = "9"],
input[type=button][ value = "."],
input[type=button][ value = "="]{
    color: black;
    background-color: rgb(119, 163, 160);
    font-size: 175%;
}

/*Selector Specificity: 0 2 1*/
input[type=button][ value = "xⁿ"],
input[type=button][ value = "DEG"],
input[type=button][ value = "Mod"],
input[type=button][ value = "10ⁿ"],
input[type=button][ value = "HYP"] {
    font-size: 70%;
}
